*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    text-decoration: none!important;
    list-style-type: none;
    font-style: normal;
}
a{
    color:#252B42;
}
body{
    margin: 0;
    padding: 0;
}
.animate__animated.animate__fadeInRight {
    --animate-duration: 3s;
  }
.animate__animated.animate__fadeInLeft {
    --animate-duration: 3s;
  }
.header {
    height: 100vh;
    width: 100%;
    background-image: url(../images/cover.jpg);
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
.nav {
    padding-top: 30px;
}
.nav__block-wrapper{
    align-items: center;
    display: flex;
    justify-content:space-around
}
.logo__block {
    z-index: 5;
}
.logo {
    font-weight: 800;
    font-size: 27px;
    line-height: 20px;
    text-align: center;
    color: #252B42;
}
.menu__item-mobile{
    align-items: center;
    display: flex;
   justify-content: space-between;
}
.menu__list {
    margin-top: 10px;
    align-items: center;
    display: flex;
   justify-content: space-between;
}
.menu__item {
}
.menu__item+ .menu__item {
    padding-left: 30px;
}
.menu__link {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.2px;
    color:  #252B42;
}
/* .menu__link:hover{
    color: #291f35;
} */
.header__burger{
    display: none;
}
.header__title-block {
    max-width: 509px;
    margin-top: 100px;
}
.header__title {
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #252B42;
}
.header__title-second {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #737373;
}
/* Portfolio */
.portfolio {
    margin-top: 80px;
}
.title {
}
.portfolio__block {
    max-width: 90%;
    margin: 0 auto;
}
.portfolio__item {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.portfolio__text p {
    margin-top: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
    max-width: 550px;
}
.portfolio__img {
    max-width: 400px;
    max-height: 400px;
}
/* MISSION */
.mission{
    margin-top: 80px;
}
.mission__block {
    margin: 0 auto;
    max-width: 90%;
    align-items: center;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.mission__text {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #252B42;
    max-width: 550px;
}
.mission__img {
  width: 380px;
    height: 240px;
}
/* GOAL */
.goal {
    margin-top: 80px;
}
.title {
    font-weight: bold;
    font-size: 46px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
    text-align: center;
    text-transform: uppercase;
}
.title__support {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
}
.goal__block {
    margin-top: 50px;
}
.goal__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}
.goal__text {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #252B42;
    max-width: 550px;
}
.goal__img {
}
.goal__image {
    width: 380px;
    height: 240px;
}
/* reviews */
.reviews{
    margin-top: 100px;
    margin-bottom: 100px;
    height: 100%;
}
.reviews__block {
    outline: none;
    display: flex;
    justify-content: space-between;
}
.reviews__img{
    margin-right: 5%;
}
.reviews__img img{
    border-radius: 60%;
    max-width: 160px;
    max-height: 100%;
}
.reviews .slick-arrow{
    outline: none;
    top: 50%;
    z-index: 0;
    position: absolute;
    font-size: 0;
    width: 28px;
    height: 28px;
    border: none;
    cursor: pointer;
}
.reviews .slick-arrow.slick-prev{
    background: url(../images/back.png) 0 0 /100% no-repeat;
    left: -65px;
}
.reviews .slick-arrow.slick-next{
    background: url(../images/next.png) 0 0/ 100% no-repeat;
    right:-55px;
}
.reviews__text-block{
    align-items: center;
}
.reviews__text{
    font-style: italic;
    font-size: 20px;
}
.reviews__name{
    font-size: 24px;
}
.reviews__work{
    font-size: 22px;
}
.footer{
   background-color: #252B42; 
}
.footer__block{
    padding: 20px 0 20px 0;
    text-align: center;
    display: flex;
    max-width: 40%;
    margin: 0 auto;
    justify-content: space-between;
}
.footer__img {
    width: 100px;
    height: 100px;
}
.whats {
}
.footer__contact{
    display: flex;
    margin-top: 30px;
}
.whats__img{
    width: 50px;
    height: 50px;
}
.name{
    font-size: 30px;
    color: #fff;
    align-items: center;
    margin-left: 10px;
}
@media screen and (max-width: 767px) {
    .container{
        max-width: 768px;
    }
    .menu__item-mobile{
        background: #252B42;
        position: absolute;
        top: 85px;
        left: 0;
        width: 100%;
        min-height: 100%;
        padding-bottom: 218px;
        z-index: 4;
        left: -100%;
        transition: all ease 0.3s;
        display: flex;
        flex-direction: column;
    }
    .menu__item-mobile.active{
        left: 0px;
    }
    .header__burger.active span{
       display: none;
    }
    .header__burger.active::before{
        transform: rotate(45deg);
        top: 19px;
    }
    .header__burger.active::after{
        transform: rotate(-45deg);
        bottom: 19px;
    }
    .menu__list{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        padding-left: 0;
    }
    .menu__link{
        font-weight: bold;
        font-size: 28px;
        line-height: 20px;
        color: #F0EEFF;
    }
    .menu__item{
        padding-top: 46px;
    }
    .menu__item+ .menu__item {
        padding-left: 0px;
    }
    .nav__block-wrapper{
        min-width: 100%;
        margin: 0 auto;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 40px;
        height: 40px;
        background: #252B42;;
        border-radius: 8px;
    }
    .header__burger span{
        position: absolute;
        background-color: #fff;
        position: absolute;
        left: 11px;
        top: 19px;
        width: 17px;
        height: 2px;
    }
    .header__burger::before,
    .header__burger::after{
        transition: all ease 0.3s ;
        content: "";
        background-color: #fff;
        width: 17px;
        height: 2px;
        position: absolute;
    }
    .header__burger::before{
        top: 13px;
        left: 11px;
    }
    .header__burger::after{
        bottom: 13px;
        left: 11px;
    }
    .mission__block{
        flex-direction: column;
    }
    .goal__item{
        flex-direction: column;
    }
    .goal__image{
        width: 100%;
        height: 100%;
    }
    .reviews__bl{
    }
    .reviews__block{
        flex-direction: column;
    }
    .reviews__text{
        font-style: italic;
        font-size: 14px;
    }
    .reviews__name{
        font-size: 24px;
    }
    .reviews__work{
        font-size: 22px;
    }
    .reviews .slick-arrow{
        outline: none;
        top: 50%;
        z-index: 0;
        position: absolute;
        font-size: 0;
        width: 24px;
        height: 24px;
        border: none;
        cursor: pointer;
    }
    .reviews .slick-arrow.slick-prev{
        background: url(../images/back.png) 0 0 /100% no-repeat;
        left: 0px;
    }
    .reviews .slick-arrow.slick-next{
        background: url(../images/next.png) 0 0/ 100% no-repeat;
        right: 0px;
    }
}
@media screen and (max-width: 480px){
    .menu__item-mobile {
        min-height: 70%;
    }
    .portfolio__text p{
        text-align: center;
    }
    .portfolio__img{
        max-width: 300px;
        max-height: 290px;
    } 
    .menu__link{
    font-size: 24px;
    line-height: 26px;
    }
    .menu__item{
    text-align: center;
       padding-top: 50px;
    }
    .reviews__bl{
        width: 150px;
    }
    .reviews__block{
        margin: 0 auto;
        width: 250px;
    }
    .portfolio__text p {
        margin-top: 0;
    }
    .mission__img{
        width: 340px;
        height: 220px;
        margin-bottom: 40px;
    }
    .portfolio__img{
        margin-bottom: 40px;
    }
    .portfolio__item{
        flex-direction: column;
    }
    .title__support {
        font-size: 14px;
    }
    .goal__text{
        font-size: 14px;
        line-height: 22px;
    }
    .reviews__img img{
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .reviews__work{
        font-size: 18px;
    }
    .reviews__text{
        text-align: center;
    }
    .footer__img {
        margin: 0 auto;
    }
    .footer__block{
        flex-direction: column;
    }
}